body
{
     background-color:#ddd;
    }
.container
{
   
    border: solid 1px #4277A9;
    padding: 1px;
    width: 948px;
}
#adminBody
{
    background-color: #fff;
}
#adminHead
{
    margin: 2px 0;
    width: 946px;
    border: solid 1px #2693C9;
    text-align: center;
    background-color: #9AD4EC;
    background: url(../images/headerbg.jpg) repeat-x top left;
}
#adminBody
{
     
    padding:5px;
    
}
#adminHead h1
{
    padding: 15px 0;
    margin: 0;
    color: White;
    font-weight: 900;
}
.loginstatus
{
    padding: 15px 0;
    text-align: right;
    color: White;
    font-size: large;
    font-weight: bold;
}
.loginBtn
{
    float: right;
}

#leftMenu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#leftMenu ul li
{
    padding: 5px 0 5px 10px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: solid 1px #DADADA;
    background-color: #FAFAFA;
}
#leftMenu ul li a, #leftMenu ul li a:hover, #leftMenu ul li a:link, #leftMenu ul li a:visited, #leftMenu ul li a:active
{
    color: #666;
    text-decoration: none;
}
.leftmenu_on
{
     background:url(../images/leftmenu_on.jpg);
    }
.leftmenu_on, .leftmenu_on a:hover, .leftmenu_on a:link, .leftmenu_on a:visited, .leftmenu_on a:active
{
    color: #fff !important;
}
#mainContent
{
    }
