#leftMenu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#leftMenu ul li
{
    padding: 5px 0 5px 10px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: solid 1px #DADADA;
    background-color: #FAFAFA;
}
#leftMenu ul li a, #leftMenu ul li a:hover, #leftMenu ul li a:link, #leftMenu ul li a:visited, #leftMenu ul li a:active
{
    color: #666;
    text-decoration: none;
}
.leftmenu_on
{
     background:url(../images/leftmenu_on.jpg);
    }
.leftmenu_on, .leftmenu_on a:hover, .leftmenu_on a:link, .leftmenu_on a:visited, .leftmenu_on a:active
{
    color: #fff !important;
}