
declare @jfunctionid int
select @jfunctionid=30600
insert into tbasicsort (jclasscode,jclassname,jfunctionid) values('06004','Tissue & Tissue Dispenser',@jfunctionid)
insert into tbasicsort (jclasscode,jclassname,jfunctionid) values('08007','Exhibition Supplies',@jfunctionid)
insert into tbasicsort (jclasscode,jclassname,jfunctionid) values('03006','Refrigeration Equipment',@jfunctionid)


go
/******************构建层级关系***********************/
update a	
 set a.jparentid=b.jid
 from  tbasicsort a 
	inner join tbasicsort b
 on  '0'+left(a.jclasscode,2) =b.jclasscode
 and  len(a.jclasscode)>3  and a.jid not in (1,2,3)









