<?xml version="1.0"?>
<connectionStrings>

 <add name="conn" 
       connectionString="Server=127.0.0.1;
       Database=ntsbase2;Uid=root;Pwd=;CharSet=utf8;"/>
   <!--    
<add name="conn" connectionString="
       Server=192.168.1.44;
       Database=ntsbase2-2013-11-15;
       Uid=root;
       Pwd=exDr97K4NDct37dw;
       CharSet=utf8;"/>
 -->
</connectionStrings>
