<?xml version="1.0"?>
<membership defaultProvider="NTSMembershipProvider">
    <providers>
        <clear/>
        <add name="NTSMembershipProvider" type="NBiz.NTSMembershipProvider" 
             connectionStringName="conn"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
              minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" applicationName="/"/>
    </providers>
</membership>